<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
      {% if page.title %}
        {{ page.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>

    <meta name="description" content="{{ site.description }}">

    <!-- CSS (from rosettatype.github.io) -->
    <link rel="stylesheet" href="http://github.shandontype.com/assets/styles.css">

</head>

<body>
  <div class='navbar fixed'>
     <div class='container'>
        <a href="#" class='pull-left logo'>Texts on Type</a>
        <ul class='pull-right'>
           <li><a href='{{ site.github.repository_url }}'>GitHub</a></li>
           <li><a href='https://twitter.com/home'>Twitter</a></li>
           <li><a href='https://medium.com/@gerryleonidas/writing-for-design-students-part-1-a-pattern-for-structured-writing-687c7a985342'></a>Tips</li>
        </ul>
     </div>
  </div>



  <div class="container">
    <div class="grid">
      <div class="row">
        <div class="span twelve">
          <h1 id="texts-on-type-homepage">Texts on Type HOMEPAGE</h1>

<p>This project aims to publish selected dissertations from the Masters Typeface Design course from Reading University’s department of typography and graphic communication. The aim of it is to get the research out to the wider typographic community.</p>

<p>[Victor Gaultney](<a href="http://github.shandontype.com/docs/MATD01_VG_ProbDiacLo.pdf" target="_blank">Victor Italics.</a>){:.primary}</p>



</div>
</div>

	<div class="divider"></div>
	<div class="row">
	
	
		
		<div class="span six">
			<h3>TITLE 1</h3>
			<p>Latin + Devanagari type family with 5 weights</p>
			<a class="secondary" href="http://github.com/Bosettatype/eczar">Read more</a>
		</div>
		
	
		
		<div class="span six">
			<h3>TITLE</h3>
			<p>Latin & Gujarati type families with 5 weights</p>
			<a class="secondary" href="http://github.Bosettatype.com/yrsa-rasa">Read more</a>
		</div>
		
	</div>
	<div class="divider"></div>
	<div class="row">
		
	
		
		<div class="span six">
			<h3>TITLE</h3>
			<p>Quick and dirty Python script to track multiple Git repositories and easily fetch updates</p>
			<a class="secondary" href="http://github.com/Bosettatype/repos">Read more</a>
		</div>
		
	
		
		<div class="span six">
			<h3>TITLE-production scripts</h3>
			<p>Publicly available command-line tools used for post-production of Bosetta fonts</p>
			<a class="secondary" href="https://github.com/Bosettatype/post-production-scripts">Read more</a>
		</div>
		
	

	</div>
<div><!-- needs to be here for the templates to nest properly -->

        </div>
      </div>

      

      <div class="divider"></div>

      <div class="row">
        <div class="span twelve">
          <a class="secondary" href="../">Back</a>
        </div>
      </div>

      

      <div class="divider"></div>

      <div class="row">
        <div class="span ten gray">Kindly supported by Google</div>
      </div>
    </div>
  </div>
    
</body>
</html>
