<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
      {% if page.title %}
        {{ page.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>

    <meta name="description" content="{{ site.description }}">

    <!-- CSS (from rosettatype.github.io) -->
    <link rel="stylesheet" href="http://github.shandontype.com/assets/styles.css">

</head>

<body>
  <div class='navbar fixed'>
     <div class='container'>
        <a href="#" class='pull-left logo'>Texts on Type</a>
        <ul class='pull-right'>
           <li><a href='{{ site.github.repository_url }}'>GitHub</a></li>
           <li><a href='https://twitter.com/home'>Twitter</a></li>
           <li><a href='Tips'>https://medium.com/@gerryleonidas/writing-for-design-students-part-1-a-pattern-for-structured-writing-687c7a985342</a></li>
        </ul>
     </div>
  </div>

  <div class="container">
    <div class="grid">
      <div class="row">
        <div class="span twelve">
          {{ content }}
        </div>
      </div>

      {% if page.home == null %}

      <div class="divider"></div>

      <div class="row">
        <div class="span twelve">
          <a class="secondary" href="../">Back</a>
        </div>
      </div>

      {% endif %}

      <div class="divider"></div>

      <div class="row">
        <div class="span ten gray">Kindly supported by Google</div>
      </div>
    </div>
  </div>
    
</body>
</html>
